<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/Style/style.css">
</head>

<body>

    <div class="navbar">
        <div class="brand">Reitandi Nugraha</div>
        <ul class="menu">
            <li>Beranda</li>
            <li>Profile</li>
            <li>Pengalaman</li>
            <li>Skill</li>
            <li>Sertifikat</li>
            <li>Hubungi</li>
        </ul>
    </div>

</body>

</html>